@model MovieRentalMVCApplication.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>
<p>@Model.Id</p>
<p>@Model.IsSubscribedToNewsLetter</p>
<p>@Model.Name</p>
<p>@Model.MembershipType.DurationInMonths</p>
<p>@Model.DateOfBirth</p>