@model MovieRentalMVCApplication.Models.Movie
@{
    ViewBag.Title = "DetailsMovie";
}

<h2>DetailsMovie</h2>

<p>@Model.Id</p>
<p>@Model.MovieName</p>
<p>@Model.NoOfCDs</p>
<p>@Model.ReleaseDate</p>
<p>@Model.Genre.GenreName</p>
<p>@Model.DateofAddingCD</p>
